doctype html
head
    title Pug
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 Atividade da disciplina Tecnologias Back-end
    #container.col
        p Exemplo de uso do Pug!